@font-face {
    font-family: bold ;
    src: url(./helveticaneue.ttf);
}
@font-face {
    font-family: m-bold;
    src: url(./helveticaneue-medium.woff2);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #151414;
}
#slider{
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: absolute;
    background-color:#f3c77c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loder-img{
    position: absolute;
    width: 250px;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: img 5s infinite linear ;
    opacity: 1;
}

.loder-img>img{
    background-color: #f3c77c;
    width: 100%;
    height: 100%;
    opacity: 0;
}
header{
    width: 100%;
    height: max-content;
}

#nav{
    width: 100%;
    height: 20vh;
    padding: 10px;
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151414;
    z-index: 9;
    /* transition: ease 0.5s; */
}
.scroll-down header{
    transform: translate3d(0,-100%,0);
}
.scroll-up header{
 
}
.part1{
    width: 6vw;
    height: max-content;
    padding: 10px;
    line-height: 1.5vw;
    background-color:#e7cfb1;
    position: relative;
    font-size: 2vw;
    text-align: right;
}
.part2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
   position: relative;
    padding-right: 30px;
}
.part2>a{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-family: bold;
    font-size: 3.5vh;
    color:#e7cfb1;
    /* color:#e5813e; */

}
.part2>a::after{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 1px;
    border-radius: 20%;
    background-color:#e7cfb1;
    content: "";
    overflow: hidden;
}
.part2>a:hover::after{
    animation: line 1s linear infinite both;
}

#page1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
#page1>h1{
    
    position: relative;
    top: 40px ;
    left: -80px;
    font-size: 90vh;
    color: #f3c77c;
    font-family: bold;
    font-family: m-bold;
    font-weight: 1000;
    letter-spacing: -5vh;
    opacity: 0;
    
 
}
#page1>h2{
    position: relative;
    width: 80vh;
    text-align: center;
    color: #f3c77c;
    font-family: bold;
    font-size:3vw;
    top: 20;
    font-weight: 600;
    line-height: 3vw;
    margin-bottom: 100px;
    
}
#page2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2>video{
    position: relative;
  width: 50%;  

}
#page3
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3>h1{
    margin-top: 10%;
    position: relative;
    left: 40px;
    width: 100%;
    height: max-content;
    font-family: m-bold;
    font-weight: 500;
    color: #e7cfb1;
    font-size: 13vw;
    line-height: 12vw;
}
#page3>p{
    position: absolute;
    right: 20px;
    top: 86%;
    width: 400px;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
}
#page4
{
    width: 100%;
    min-height: 100vh;
    position: relative;
   
}


.cry{
   position: absolute;
    height: 300px;
    right: 15%;
    top: 30%;
    animation: cry 4s  linear infinite ;
    
}
.cry>h1{
    color: #e7cfb1;
    position: absolute;
    font-size: 1.2vw;
    font-family: bold;
   
}

.cry>h1>span{
    display: inline-block;
    position:absolute;
    transform-origin: 0 120px;
      
}
@keyframes cry {
    0%{
   transform: rotate(1 turn);      
    }
    /* 100%{
    rotate:360deg;
    } */
}


.cry>h2{
    position: absolute;
    font-size: 15vh;
    top: 30px;
    font-weight: 100;
    font-family: bold;
    color: #e7cfb1;
}

.video2{
    position: relative;
    width: 50vw;
  height: max-content;
  top: 370px;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.u2>video{
  
    position: relative;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.video2>h1{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    padding-top: 10px;
    
}
.video2>h2{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    
    
}
.u2{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    cursor: none;
}
.overlay1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    
}
.cursor{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: white;
    z-index: 999;
    transition: ease;
    scale: 0;
}
.cursor2{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: white;
    z-index: 9999;
    transition: ease;
    scale: 0;
}
.cursor3{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: white;
    z-index: 999;
    transition: ease;
    scale: 0;
}
.cursor4{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: white;
    z-index: 999;
    transition: ease;
    scale: 0;
}
.u2:hover{
    scale: 0.96;
}

.u2:hover video{
    scale: 1.1;
}


.img2{
    position: relative;
    width: 32vw;
    left: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
.ui2>img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.img2>h1{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    padding-top: 10px;
    
}
.img2>h2{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    
    
}
.ui2{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: red;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.ui2:hover{
    scale: 0.96;
}

.ui2:hover img{
    scale: 1.1;
}

.img3{
    position: relative;
  width: 32vw;
  top: 50px;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui3>img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.ui3{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: red;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.ui3:hover{
    scale: 0.96;
}

.ui3:hover img{
    scale: 1.1;
}
.img3>h1{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    padding-top: 10px;
    
}
.img3>h2{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    
    
}

.img4{
    position: relative;
  width: 46vw;
  top: -200px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui4>img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.ui4{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background-color: red;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.ui4:hover{
    scale: 0.96;
}

.ui4:hover img{
    scale: 1.1;
}
.img4>h1{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    padding-top: 10px;
    
}
.img4>h2{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    
    
}
#page5{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.video3{
    position: relative;
  width: 65vw;
  height:200% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.uv2>video{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.uv2{
    position: relative;
    width: 110%;
    height: 100%;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.uv2:hover{
    scale: 0.9;
}

.uv2:hover video{
    scale: 1.2;
}
.video3>h1{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    padding-top: 10px;
    
}
.video3>h2{
    position: relative;
    width: 100%;
    font-family: bold;
    color: #e7cfb1;
    font-size: 1.5vw;
    
    
}
#page5>a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 130px;
    width: 30vw;
    height: 11vw;
    border-radius: 50%;
    transform-origin: 30% 50%;
}


#page5>a:hover:after{
    transform: rotate(-15deg) scale3d(1.1,1.4,1)
}
#page5>a:after {
    border: .15rem solid #e7cfb1;
    border-radius: 100%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .3s;
    width: 100%
   
}

#page5>a>h1{
    position: absolute;
    font-size: 2vw;
    font-family: Gilroy;
    font-weight: 100;
    color: #e7cfb1;
    text-align: center;
    z-index: 999;
}

#page6{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ac1cb;
    /* overflow: auto; */
    
}
.h1-6{
    position: relative;
   
    height: max-content;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.h1-6::-webkit-scrollbar{
    display: none;
}
.h1-6>h1{
    position: absolute;
  font-family: bold;
    font-size: min(51vw,82vh);
    letter-spacing: 1vw;
    line-height: .8;
    padding: 0 8vw;
    text-indent: -4vw;
    text-transform: uppercase;
    white-space: nowrap;
    will-change: transform;
    
}
#page7{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 100px;
    gap: 100px;
    padding-top: 150px;
    padding-left: 100px;
    cursor: pointer;
    padding-bottom: 80px;
}

.logo{
    position: relative;
    width: 150px;
    height: max-content;
    
  
}
.logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.3s;
}
.logo>img:hover{
    scale: 1.3;
}
#page8{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e7cfb1;
    padding-bottom: 60px;
}
.upper{
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper>h1{
    font-size: 12vh;
    font-family: bold;
    font-weight: 100;
    width: 80vw;
    line-height: 7vw;
    text-align: center;


}
.lower{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: max-content;
}
.l-8{
    position: relative;
    left: -20%;
    width: 50%;
    height: 500px;
    
}
.l-8>img{
    position: relative;
    padding: 50px 100px;
    width: 90%;
    height: 100%;
}

.cry2{
    margin-left: 100px;
    position: relative;
    top: -100px;
     display: flex;
     justify-content:center;
     white-space: nowrap;
     align-items:center;
    
     
 }
 .cry2>h1{
     position: absolute;
     font-size: 1.2vw;
     font-family: bold;
     transform-origin: -50% -50%;
    
 }
 
 .cry2>h1>span{
     display: inline-block;
     position:absolute;
     transform-origin: 0 100px;
       
 }
 
.cry2>h2{
    position: absolute;
    font-size: 15vh;
    top: 30px;
    font-weight: 100;
    font-family: bold;
    
}
#page9{
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
#page9>h1{
    margin-top: 100px;
    margin-left: 20px;
    width: 100%;
    position: relative;
    font-size: 8vw;
    font-family: bold;
    font-weight: 100;
    color: #786b5a;

}
#page9>h1>span{
color: #efce94;
position: relative;
overflow: hidden;

}
#page9>h1>span::after{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 5px;
    border-radius: 20%;
    background-color: #efce94;
    content: "";
    overflow: hidden;
}
@keyframes line {
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        left: 0%;
        width: 100%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

#page9>h1>span:hover::after{
    animation: line 1s linear infinite both;
}